In [176]:
import numpy as np
import pymysql
import pandas as pd
import seaborn as sns

from tqdm import tqdm

import time
import datetime

In [177]:
# 시각화 모듈 임포트
import matplotlib.pyplot as plt
import seaborn as sns

# jupyter notebook 내 그래프를 바로 그리기 위한 설정
%matplotlib inline

# unicode minus를 사용하지 않기 위한 설정 (minus 깨짐현상 방지)
plt.rcParams['axes.unicode_minus'] = False
plt.rcParams['font.family'] = 'Malgun Gothic'

In [178]:
# 2단계 : connect(mysql 접속)
host_url = 'rowan-test-db.c2rbzfa0saqk.ap-northeast-2.rds.amazonaws.com'
db = pymysql.connect(host=host_url, port=4406, user='root', passwd='rowan08101!', db='sb_db', charset='utf8')
# 3단계 : cusor : 커서 생성
cursor = db.cursor()

In [179]:
# 4단계 : sql문 작성(데이터 read)
query = "SELECT gl.*, ur.*, mauu.unit, bu.create_time \
        FROM sb_db.brain_game_log gl LEFT JOIN sb_db.map_assignment_unit_user mauu ON gl.assignment_unit_user = mauu.assignment_unit_user_idx \
        JOIN sb_db.user_real ur ON mauu.user = ur.idx \
        JOIN sb_db.brain_user bu ON mauu.user = bu.user_idx"
# 5단계 : pd로 sql문 실행
game_log = pd.read_sql(query, db)

C:\Users\sanghyun\Anaconda3\envs\sb-db\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [180]:
cursor.close()
db.close()

In [181]:
game_log.set_index('game_log_idx', inplace=True)

In [182]:
game_log['user_idx'] = game_log['idx']
del game_log['idx']
del game_log['job']

In [183]:
column_names = game_log.columns.values
column_names[0] = 'Changed'
game_log.columns = column_names
del game_log['Changed']

In [184]:
# for idx, val in tqdm(game_log.iterrows(), total=game_log.shape[0]):
#     game_log['game_log_record'][idx] = eval(val['game_log_record'])

In [152]:
game_log_times = []
n= []

for idx,_ in tqdm(game_log.iterrows(), total=game_log.shape[0]):
    times = []
    temp1 = eval(game_log['game_log_record'][idx])
    for j in range(len(temp1)):
        temp = temp1[j]["speed"] ## get values of survey_log_record's list
        times.append(temp)
        
    times = np.mean(times)
    game_log_times.append(times)

  0%|                                                                                        | 0/63484 [00:00<?, ?it/s]C:\Users\sanghyun\Anaconda3\envs\sb-db\lib\site-packages\numpy\core\fromnumeric.py:3474: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
C:\Users\sanghyun\Anaconda3\envs\sb-db\lib\site-packages\numpy\core\_methods.py:189: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
100%|███████████████████████████████████████████████████████████████████████████| 63484/63484 [01:14<00:00, 849.37it/s]

In [162]:
game_log['game_log_time'] = [x for x in game_log_times]
del game_log['game_log_record']

In [163]:
# game_log['age'] = ""

# for idx, val in tqdm(game_log.iterrows(), total=game_log.shape[0]):
#     temp = 2023 - val["birth"] // 10**4
#     game_log['age'][idx] = int(temp)

In [164]:
game_log['age'] = game_log.eval('floor(2023 - birth // 10**4)')

In [165]:
game_log['duration_date'] = (datetime.date.today() - pd.to_datetime(game_log['create_time']).dt.date).dt.days

In [166]:
game_log = game_log.dropna()

In [173]:
game_log.to_csv('game_log.csv', encoding='utf-8-sig')

In [174]:
game_log = pd.read_csv('game_log.csv', encoding='utf-8-sig', index_col='game_log_idx')

In [175]:
game_log

,game_log_next_level,game_log_level,game_log_limit,game_log_score,game_log_success,assignment_unit_user,userId,birth,gender,education,height,name,organization,unit,create_time,user_idx,game_log_time,age,duration_date
game_log_idx,,,,,,,,,,,,,,,,,,,
721,4,4,300,100.0,100.00,1045,A0001,19520219,M,16,172,소필영,로아신경과의원,2,2021-05-10 11:27:46,39,286.900000,71.0,318
749,3,3,180,2000.0,95.24,1046,A0001,19520219,M,16,172,소필영,로아신경과의원,9,2021-05-10 11:27:46,39,5.195238,71.0,318
768,3,3,180,2300.0,95.83,1046,A0001,19520219,M,16,172,소필영,로아신경과의원,9,2021-05-10 11:27:46,39,4.183333,71.0,318
718,3,3,180,400.0,100.00,1048,A0001,19520219,M,16,172,소필영,로아신경과의원,17,2021-05-10 11:27:46,39,35.475000,71.0,318
719,3,3,180,1000.0,83.33,1048,A0001,19520219,M,16,172,소필영,로아신경과의원,17,2021-05-10 11:27:46,39,13.033333,71.0,318
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70007,2,2,120,400.0,100.00,118189,ndb006,19451202,F,6,160,박정선,남양주백병원,15,2022-02-28 16:23:20,1059,20.225000,78.0,24
70008,2,2,120,100.0,100.00,118189,ndb006,19451202,F,6,160,박정선,남양주백병원,15,2022-02-28 16:23:20,1059,98.500000,78.0,24
70009,2,2,120,1000.0,90.91,118190,ndb006,19451202,F,6,160,박정선,남양주백병원,18,2022-02-28 16:23:20,1059,8.990909,78.0,24
70010,2,2,120,100.0,100.00,118191,ndb006,19451202,F,6,160,박정선,남양주백병원,19,2022-02-28 16:23:20,1059,80.800000,78.0,24
70011,2,2,120,200.0,100.00,118191,ndb006,19451202,F,6,160,박정선,남양주백병원,19,2022-02-28 16:23:20,1059,55.000000,78.0,24